# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle cnfgen'
      'command': 'cnfgen:toggle'
      'label': 'New joke'
      'command': 'cnfgen:new_joke'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'cnfgen'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'cnfgen:toggle'
          'label': 'New joke'
          'command': 'cnfgen:new_joke'
        }
      ]
    ]
  }
]
